@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-white text-dm-black font-sans;
  /* Um leve fundo de papel texturizado opcional */
  background-image: url("https://www.transparenttextures.com/patterns/cream-paper.png");
}

/* Estilização da barra de rolagem para combinar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
  background: #555; 
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #1a1a1a; 
}